h1{
    color:blueviolet;
    background-color: yellow;
}

h3{
    color:aqua;
    background-color: coral;
}

h2{
    color:brown;
    text-align:center;
    font-weight: bold; 
    text-decoration: blue underline;
    letter-spacing: 5px;
}

p{
    color:crimson;
    background-color:aqua;
    font-weight: bold;
}
