h1{
    color:blueviolet;
    background-color: yellow;
}

h3{
    color:yellow;
    background-color: coral;
    font-size: 30px;
}

h2{
    color:brown;
    text-align:center;
    font-weight: bold; 
    text-decoration: blue underline;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: arial;
}

p{
    color:crimson;
    background-color:aqua;
    font-weight: bold;
    font-size: 20px;
}
